html {
    overflow-x: hidden;
}

body {
    font-size: 40px;
    color: #ffffff;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
}

/*
Write Comments DUDE :)
*/

.flex {
    display: flex;
}

.flex img {
    margin: auto;
}

h1 {
    margin: 0;
}

h1.logo_heading {
    left: 150px;
    top: 0px;
}

nav {
    right: 100px;
}

nav a {
    font-family: Dosis;
}

.by-border-bottom {
    border-bottom: 2px solid white;
}

/*
Sticky nav 
*/
.navigation__wrapper {
    width: 100%;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__wrapper__logo-link {
    text-transform: none;
    align-items: center;
}

.navigation__wrapper__logo-link:hover {
    border-bottom: none;
}

@media only screen and (max-width:800px) {

    .general-style {
        padding-top: 100px;
        /* height: auto !important; */
    }

    .navigation__wrapper .logo_heading {
        font-size: 35px !important;
    }

    .navigation__wrapper {
        flex-direction: column;
    }

    .hero {
        transform: translateY(100px);
    }

    .hero__title {
        font-size: 3rem;
    }

}

@media only screen and (max-width:359px) {
    .navigation__wrapper__logo-link {
        display: flex;
        max-height: 100px;
    }



    nav a {
        border: 2px solid transparent;
        min-height: 32px;
        border-radius: 3px;
    }

    nav {
        margin-top: 10px;
        display: flex;
        padding-bottom: 3px;
    }

    .hero {
        /* transform: translateY(170px); */
    }

    #showcase p {
        /* font-size: 20px !important; */
    }

    .hero__title {
        /* font-size: 2rem; */
    }

}

.navigation__wrapper #branding {
    display: flex;
    align-items: center;
    /* min-width: 400px; */
}

#branding img {
    max-width: 95px;
    height: auto;
}

.main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

section {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

a img {
    /*width: 40px;*/
    /*height: 40px;*/
}

#instafeed a img {
    /*width: 600px;*/
    height: auto;
    max-height: 347px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background:#66ccff;*/
    color: #ffffff;
    padding-top: 1px;
    min-height: 70px;
    border-bottom: #ffffff 2px solid;
    font-family: Sail;
    background-color: rgba(137, 167, 209, 0.5);
    position: fixed;
    width: 100%;
    z-index: 999;

}

@media only screen and (max-width:600px) {
    .general-style p {
        font-size: 22px !important;
    }
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;

}

header a:hover {
    border-bottom: 2px solid #ffffff;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    font-family: sans-serif;
}

header #branding {
    float: left;
}

header #breanding h1 {
    margin: 0;
}

header nav {
    /* margin: 0 auto;
    float:right; */
}

/* Showcase */
#showcase {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url("../img/showcase2.jpg");
    text-align: center;
    z-index: 9999999;
    background-size: cover;
    background-position: center right;
    font-family: 'Sail', cursive;
    /* margin-bottom: 0.5em; */
}

.showcase .container {
    margin: auto;
    padding: 40px;
}

/* #showcase h1{
    font-size:55px;
} */
#showcase p {
    margin: 0;
    font-size: 30px;
    padding: 0;
}

article.content-container .price {
    border: 1px solid whitesmoke;
    padding: .5em;
    font-size: 30px;
    color: black;
    background: rgba(225, 225, 225, 0.5);
}

/*ABOUT*/
.general-style {
    display: flex;
    background: #ffffff;
    color: black;
    text-align: center;
    background: url("../img/sunce-neko-sranje.jpg");
    background: url("../img/belgrade-yachting-about.jpg");
    background: url("../img/belgrade-yachting-about1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-attachment: fixed;
    backdrop-filter: blur(2px);
    opacity: 0.9;
    height: 100vh;
}

.general-style a {
    margin: 0 auto;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.content-container {
    /* padding: 1em; */

}

.general-style p {
    margin: auto;
    font-size: 25px;
    margin-bottom: 0;
}

.general-style article {
    margin-bottom: 25px;

}

.page-title {
    font-size: 50px;
}

.poster {
    display: flex;
    flex-wrap: wrap;
}

.poster-item {
    /*border:1px solid black;*/
    /*height: auto;*/
    /*width: 50%;*/
}

img {
    width: 100%;
    height: auto;
}

.yaht-1 {
    background-size: contain;
    background-image: url("../img/yaht2.jpg");
    background-repeat: no-repeat;
}

.yaht-2 {
    background-size: contain;
    background-image: url("../img/yaht3.jpg");
    background-repeat: no-repeat;
}

.yaht-3 {
    background-size: contain;
    background-image: url("../img/yaht4.jpg");
    background-repeat: no-repeat;
}

.yaht-4 {
    background-size: contain;
    background-image: url("../img/yaht5.jpg");
    background-repeat: no-repeat;
}

.yaht-5 {
    background-size: contain;
    background-image: url("../img/yaht6.jpg");
    background-repeat: no-repeat;
}

.yaht-6 {
    background-size: contain;
    background-image: url("../img/yaht7.jpg");
    background-repeat: no-repeat;
}

#contact {
    margin-top: 0.5em;
    padding: 2em 0;
}

footer img {
    transform: translateY(16px);
    margin-left: 35px;
    width: 40px;
    height: 40px;
}

footer {
    font-family: 'Sail', cursive;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-align: center;

}

@media only screen and (max-width:425px) {

    /* #showcase h1{
        font-size: 45px;
    } */
    .general-style a {
        font-size: 19px;
        /*width: 150px;*/
    }


}

/*insta*/

.insta-wrapp h3 {
    color: black;
    text-align: center;
}

.insta-wrapp {
    margin: 0 auto;
}

.insta-wrapp img {
    /*padding:2em;*/
}